@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

:root{
    --primary-color: #2300B2;
    --secondary-color: #D8CEFF;
    --third-color: #0d0041;
    --fourth-color: rgb(33, 6, 129);
    --fifth-color: #8000b2;
    --font-family: 'Comfortaa', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-family);
  overflow-x: hidden;
  font-weight: 400;
  background-color: var(--secondary-color);
}
a{
  text-decoration: none;
}