.container{
    width: 96%;
    margin: 0 auto;
    background-color: var(--third-color);
    border-radius: 20px;
    text-align: left;
}
.container h1{
    font-size: 4vw;
    padding-top: 2vw;
    color: white !important;
    margin-bottom: 1%;
}
.container select{
    margin-left: 2%;
    border-radius: 10px;
    padding: 1vw;
    display: block;
    background-color: var(--primary-color);
    font: 400 1.2vw var(--font-family);
    color: var(--secondary-color);
    border: none;
}
.container select:focus{
    outline: none;
}
.container p{
    font: 400 1.2vw var(--font-family);
    color: white;
    margin-left: 2%;
    padding-bottom: 2vw;
}