nav{
  padding: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav ul {
  list-style-type: none;
  border-bottom: black solid 1px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: var(--secondary-color);
}
nav ul li {
  float: right;
  cursor: pointer;
  padding: 0.75vw 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 2vw;
}
nav ul li a:hover {
  transition: background-color 0.3s ease;
  color: var(--primary-color);
  font-weight: 550;
}
.purple{
  color: var(--primary-color) !important;
}
.black{
  color: black;
}
.logo{
    float: left;
    font-size: 2vw;
    font-weight: 600;
}