.container{
    border: 1px solid black;
    background-color: transparent;
    width: 96%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 2%;
    margin-top: 0%;
}
.container midi-player{
    display: block;
    font-family: var(--font-family);
    font-size: 1.2vw;
    width: 100%;
    margin: 0;
}
.container midi-player::part(control-panel){
    background-color: var(--secondary-color) !important ;
    width: 100%;
    height: 20%;
    margin-right: 0;
}

.container midi-player::part(play-button) {
    display: none;
}

.container img{
    width: 3%;
    padding: 2%;
    height: auto;
    cursor: pointer;
}
